:root {
    // Theme color
    --primary-color: #1428a0;
    --primary-color-dark: #0f1e7a;
}

// Web Color
$bg-color: white;

//Text Color
$header-text-color: rgba(250, 250, 250, 0.85);
$header-text-hover-color: white;

$secondary-text-color: rgba(33, 37, 41, 0.75);
$third-text-color: rgba(33, 37, 41, 0.5);
$products-name-text-color: #4c4d4d;
$old-price-text-color: rgba(33, 37, 41, 0.5);

$hero-text-color: white;

//background
$bg-light: rgb(248, 249, 250);
$bg-gray: #687078;

// Header Background Color
$header-bg-color: transparent;

// border color
$border-color: #dee2e6;

// Text
@mixin text-2() {
    font-size: 0.875rem;
}

@mixin text-4() {
    font-size: 1.125rem;
}

@mixin text-5() {
    font-size: 1.3125rem;
}

@mixin text-6() {
    font-size: 1.5rem;
}

@mixin text-7() {
    font-size: 1.75rem;
}

@mixin text-8() {
    font-size: 2rem;
}

@mixin text-12() {
    font-size: 3rem;
    line-height: 1.3;
}

@mixin text-13() {
    font-size: 3.25rem;
    line-height: 1.3;
}