.checkout-modal {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;

  .modal-inner {
    background-color: white;
    transform: translateY(-40px); // Khi đóng, modal nằm cao hơn
    opacity: 0;
    transition: transform 0.5s cubic-bezier(.4, 0, .2, 1), opacity 0.3s cubic-bezier(.4, 0, .2, 1);

    .modal-header {
      display: flex;
      justify-content: space-between;
      border-bottom: $border-color 1px solid;
      padding: 10px 24px;
      align-items: center;

      .modal-header-title {
        font-size: 20px;
        font-weight: 500;
      }

      #closeCheckoutModal {
        cursor: pointer;
        font-size: 12px;
        color: gray;

        &:hover {
          color: black;
        }
      }
    }

    .modal-body {
      display: flex;
      padding: 24px 24px;
    }
  }
}

.checkout-modal.open {
  opacity: 1;
  z-index: 99999;

  .modal-inner {
    transform: translateY(0); // Khi mở, modal trượt xuống
    opacity: 1;
  }
}

// ngăn chặn scrolling khi modal mở
// khi mở modal thì thêm class modal-open vào body
// khi đóng modal thì xóa class modal-open khỏi body
// overflow: hidden sẽ ngăn chặn scrolling của trang vì sẽ ẩn thanh cuộn của trang khi modal mở khiến người dùng không thể cuộn trang nền khi modal đang hiển thị
.modal-open-prevent-scroll {
  overflow: hidden;
}

.cart-content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  .cart-main {
    flex: 3;
    min-width: 320px;

    .cart-table-wrapper {
      background: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
      padding: 0 24px;
      max-height: 400px;
      overflow-y: auto;
    }
  }

  .cart-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 16px 12px;
      text-align: left;
    }

    tr {
      border-bottom: 2px solid #f3f4f6;
    }

    th {
      font-weight: 600;
      color: #333;
    }

    tr:not(:last-child) td {
      border-bottom: 1px solid #f3f4f6;
    }
  }

  .cart-product {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    img {
      width: 64px;
      object-fit: cover;
      border-radius: 8px;
      margin-right: 16px;
    }
  }

  .cart-product-price {
    color: var(--primary-color);
  }

  .cart-product-total-price {
    color: var(--primary-color);
    font-weight: 500;
  }

  .cart-remove-item-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(180, 180, 180);
    font-size: 16px;
    transition: color 0.2s;

    &:hover {
      color: red;
    }
  }

  .cart-qty-control {
    display: flex;
    align-items: center;

    .cart-qty-btn {
      border: 1px solid #d1d5db;
      background: #fff;
      border-radius: 6px;
      padding: 6px 16px;
      font-size: 1.1rem;
      cursor: pointer;
      margin: 0 6px;
      transition: all 0.3s;

      &:hover {
        background: grey;
        color: white;
      }
    }

    .cart-qty-num {
      min-width: 32px;
      text-align: center;
      font-weight: 500;
    }
  }
}

.cart-summary {
  flex: 1;
  min-width: 260px;

  .cart-summary-box {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    padding: 32px 24px;
  }

  .cart-summary-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .cart-summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 1rem;

    span:last-child {
      font-weight: 500;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 16px 0;
  }

  .cart-summary-total {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .cart-checkout-btn {
    background: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 0;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
    transition: background 0.5s;

    &:hover {
      background: var(--primary-color-dark);
    }
  }

  .cart-clear-btn {
    background: darken(#6c757d, 10%);
    color: #fff;
    border: none;
    padding: 12px 0;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 12px;
    cursor: pointer;
    transition: background 0.5s;

    &:hover {
      background: #950606
    }
  }
}

@media (max-width: 900px) {
  .cart-content {
    flex-direction: column;
    gap: 24px;

    .cart-main,
    .cart-summary {
      min-width: 0;
    }
  }
}

.modal.open {
  opacity: 1;
  z-index: 99999;

  .modal-inner {
    transform: translateY(0); // Khi mở, modal trượt xuống
    opacity: 1;
  }
}