.cd-top {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  z-index: 999999;

  visibility: hidden;
  opacity: 0;

  &:hover {
    background-color: var(--primary-color);
  }
}

.cd-top--is-visible {
  // back-to-top button visible
  visibility: visible;
  opacity: 1;
}