.banner__tv-audio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  img {
    width: 100%;
    height: auto;
  }

  .tv,
  .audio {
    position: relative;
    display: inline-block;
  }

  .tv__text,
  .audio__text {
    position: absolute;
    top: 30px;
    left: 30px;

    color: $hero-text-color;
    text-decoration: none;
    @include text-4;
    font-weight: bold;
  }
}