.banner__tv-audio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-top: 1.5rem;

  .tv,
  .audio {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block; // Đảm bảo hình ảnh không có khoảng trắng bên dưới
      transition: all 0.5s;
    }

    &:hover img {
      transform: scale(1.05);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0.25) 0%,
          rgba(0, 0, 0, 0.6) 100%);
      z-index: 1;
    }
  }

  .tv__text,
  .audio__text {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 100;

    color: $hero-text-color;

    h2 {
      @include text-7;
      font-weight: 500;
    }

    p {
      color: rgba(250, 250, 250, 0.8);
      font-size: 16px;
      line-height: 1.8;
    }
  }
}