.support-login-search {
    .cart {
        position: relative;

        // Nếu muốn hover để mở dropdown
        // &.open .cart-dropdown,
        // &:hover .cart-dropdown {
        //     max-height: 400px; // hoặc lớn hơn nếu nội dung nhiều
        //     opacity: 1;
        //     pointer-events: auto;
        // }

        &.open .cart-dropdown {
            max-height: 100vh; // hoặc lớn hơn nếu nội dung nhiều
            opacity: 1;
            pointer-events: auto;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 14px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 7px 6px 7px;
            border-color: transparent transparent white transparent;
            transform: rotate(0deg);
            opacity: 0;
            transition: opacity 0.18s;
            z-index: 1001;
        }

        // Nếu muốn hover để hiện mũi tên
        // &.open::after,
        // &:hover::after {
        //     opacity: 1;
        // }

        //Arrow hiển thị khi mở dropdown
        &.open::after {
            opacity: 1;
        }

        .cart-dropdown {
            position: absolute;
            right: -55px;
            background: white;
            top: 100%;
            width: 360px;
            padding: 16px 16px;
            min-width: 230px;
            @include text-2;
            z-index: 1000;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);

            // Hiệu ứng xổ xuống
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: max-height 1s cubic-bezier(.4, 0, .2, 1), opacity .18s;
            pointer-events: none;

            .cart-dropdown__inner {
                .cart-dropdown__list {
                    display: block;
                }

                .cart-dropdown__item {
                    display: flex;
                    padding: 0;
                    padding-bottom: 12px;
                    margin-top: 12px;
                    gap: 20px;
                    border-bottom: $border-color 1px solid;

                    .cart-dropdown__item-name {
                        margin-bottom: 0.25rem;
                    }

                    .cart-dropdown__item-meta {
                        color: $primary-color;
                    }
                }

                .cart-dropdown__item:first-child {
                    margin-top: 5px;
                }
            }
        }
    }
}