.explore-videos {
  padding: 0 0 3rem;
  background: #fff;

  .explore-videos__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      color: black;
      font-weight: 500;
      @include text-8();
      line-height: 1.2;
    }

    // Button view all
    button {
      @include small-btn(transparent, var(--primary-color), var(--primary-color), white);
      padding: 0.5rem 1rem;
      border: 0.3px solid var(--primary-color);
      background: transparent;
      @include text-2();
    }
  }
}

.explore-videos__list {
  .explore-videos__item {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }

    .explore-videos__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border: none;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      font-size: 2rem;
      color: var(--primary-color);
      transition: background 0.2s, color 0.2s;
      z-index: 100;

      &:hover {
        background: var(--primary-color);
        color: #fff;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all 0.2s;
        animation: pulsing-ring 1800ms cubic-bezier(0.2, 0.6, 0.35, 1) infinite;
      }
    }

    .explore-videos__play:hover::before {
      background: var(--primary-color);
    }
  }
}

@keyframes pulsing-ring {
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}